@model ShopParser.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
           @Html.Raw("<ul class='listul'>" + Model.Description+"</ul>")
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.ProductPageUrl)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.ProductPageUrl)">Open</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImageURL)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ProductImageURL)" />
        </dd>


    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>

<style>
    .listul > li {
        height: 36px;
        line-height: 35px;
        color: #666;
        font-size: 14px;
        border-bottom: 2px solid #ddd;
    }
        .listul > li > span {
            display: block;
            float: left;
            min-width: 50px;
            margin-right: 10px;
            width: 160px;
            background-color: #000;
            color: #fff;
            padding-left: 15px;
        }
 </style>